<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Contacts </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="formulario()">+</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <ion-img src={{item.image}}></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.firstName}} {{item.lastName}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>